@tailwind base;
@tailwind components;
@tailwind utilities;

.text {
    @apply dark:text-white
}

.text-input {
    @apply dark:text-white border dark:border-white rounded-lg p-4 w-full
}

.themed-view {
    @apply flex-1 bg-white dark:bg-gray-800 p-4
}

.themed-border {
    @apply border dark:border-white
}