@tailwind base;
@tailwind components;
@tailwind utilities;

.text {
    @apply text-white
}

.text-input_container {
    @apply px-2 py-4 rounded-lg flex-row justify-between items-center bg-zinc-800
}
.text-input_container:focus {
    @apply border border-white
}
.text-input {
    @apply text-white flex-1
}

.themed-view {
    @apply flex-1 bg-zinc-800 p-4
}

.themed-border {
    @apply border border-white
}